pre[class*='language-'] {
  position: relative;
  overflow: visible;
  border-radius: 5px;
}

pre[class*='language-'] .copy {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  outline: currentcolor none medium;
  width: auto;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  font-weight: var(--chakra-fontWeights-semibold);
  height: 24px;
  min-width: var(--chakra-sizes-8);
  font-size: var(--chakra-fontSizes-xs);
  padding-inline-start: var(--chakra-space-3);
  padding-inline-end: var(--chakra-space-3);
  background: var(--chakra-colors-teal-200);
  color: var(--chakra-colors-gray-800);
  text-transform: uppercase;
  top: var(--chakra-space-4);
  z-index: 1;
  right: 1.25em;
}
