body ul {
  list-style-type: initial;
  margin-top: 0.5em;
  margin-left: 1em;
}

body .chakra-accordion__button {
  width: 200px;
  border: 1px solid var(--chakra-colors-gray-200);
  border-radius: 0.25em;
}

body .chakra-accordion {
  border-color: transparent;
}

body .chakra-accordion__panel {
  padding-left: 0;
  padding-right: 0;
}

.header {
  height: 72px;
  box-shadow: var(--chakra-shadows-sm);
  transition: box-shadow 0.2s ease 0s;
  position: fixed;
  top: var(--chakra-space-0);
  z-index: 3;
  background: var(--chakra-colors-white);
  left: var(--chakra-space-0);
  right: var(--chakra-space-0);
  width: var(--chakra-sizes-full);
  display: flex;
  align-items: center;
}
